:root {
    --color-white: #ffffff;
    --color-black: #3C3C3C;

    --color-base: #E0E0E0;
    --color-base-50: #ffffff;
    --color-base-100: #F8F8F8;
    --color-base-200: #EDEDED;
    --color-base-300: #D6D6D6;
    --color-base-400: #BEBEBE;
    --color-base-500: #9E9E9E;
    --color-base-600: #7E7E7E;
    --color-base-700: #5E5E5E;
    --color-base-800: #3F3F3F;
    --color-base-900: #2B2B2B;

    --color-primary: #A5D6A7;
    --color-primary-light: #C8E6C9;
    --color-primary-lighter: #DFF5E0;
    --color-primary-dark: #81C784;
    --color-primary-darker: #66BB6A;

    --color-secondary: #607D8B; /* Neues Blau für Sekundärfarbe */
    --color-secondary-light: #78909C;
    --color-secondary-lighter: #B0BEC5;
    --color-secondary-dark: #455A64;
    --color-secondary-darker: #37474F;

    --color-warning: #607D8B; /* Neues Blau für bessere Lesbarkeit */
    --color-warning-light: #78909C;
    --color-warning-lighter: #B0BEC5;
    --color-warning-dark: #455A64;
    --color-warning-darker: #37474F;

    --color-danger: #EF9A9A;
    --color-danger-light: #FFCDD2;
    --color-danger-lighter: #FFE6E6;
    --color-danger-dark: #E57373;
    --color-danger-darker: #EF5350;

    --color-info: #80DEEA;
    --color-info-light: #B2EBF2;
    --color-info-lighter: #E0F7FA;
    --color-info-dark: #4DD0E1;
    --color-info-darker: #26C6DA;

    --color-success: #A5D6A7;
    --color-success-light: #C8E6C9;
    --color-success-lighter: #DFF5E0;
    --color-success-dark: #81C784;
    --color-success-darker: #66BB6A;

    --color-on-dark-gray: #1C1C1C;
    --color-on-white: #ffffff;


    --color-base-light: var(--color-base-200);
    --color-base-lighter: var(--color-base-100);
    --color-base-dark: var(--color-base-600);
    --color-base-darker: var(--color-base-900);
    
    --color-on-base: var(--color-base-900);
    --color-on-base-light: var(--color-base-900);
    --color-on-base-lighter: var(--color-base-900);
    --color-on-base-dark: var(--color-white);
    --color-on-base-darker: var(--color-white);

    --color-on-primary: var(--color-white);
    --color-on-primary-light: var(--color-white);
    --color-on-primary-lighter: var(--color-primary);
    --color-on-primary-dark: var(--color-white);
    --color-on-primary-darker: var(--color-white);

    --color-on-secondary: var(--color-white);
    --color-on-secondary-light: var(--color-white);
    --color-on-secondary-lighter: var(--color-secondary);
    --color-on-secondary-dark: var(--color-white);
    --color-on-secondary-darker: var(--color-white);

    --color-on-warning: var(--color-white);
    --color-on-warning-light: var(--color-white);
    --color-on-warning-lighter: var(--color-warning);
    --color-on-warning-dark: var(--color-white);
    --color-on-warning-darker: var(--color-white);

    --color-text-primary: var(--color-base-800); 

    --color-on-info: var(--color-on-dark-gray);
    --color-on-info-light: var(--color-on-dark-gray);
    --color-on-info-lighter: var(--color-info-dark);
    --color-on-info-dark: var(--color-on-white);
    --color-on-info-darker: var(--color-on-white);

    --color-on-success: var(--color-on-dark-gray);
    --color-on-success-light: var(--color-on-dark-gray);
    --color-on-success-lighter: var(--color-success-dark);
    --color-on-success-dark: var(--color-on-white);
    --color-on-success-darker: var(--color-on-white);

    --color-on-danger: var(--color-on-dark-gray);
    --color-on-danger-light: var(--color-on-dark-gray);
    --color-on-danger-lighter: var(--color-danger-dark);
    --color-on-danger-dark: var(--color-on-white);
    --color-on-danger-darker: var(--color-on-white);
}
