@using Siteswap.Details
    @foreach (var siteswaps in Siteswaps.Batch(4))
{
    <div class="row">
        @foreach (var siteswap in siteswaps)
        {
            <div class="col-md-3">
                <text>
                    @siteswap.ToString()
                </text>
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public IReadOnlyCollection<Siteswap> Siteswaps { get; set; } = new List<Siteswap>();

}