@using Siteswap.Details
@using MudBlazor
@inject NavigationManager NavigationManager
<h3>Orbits</h3>

@if (Value is null)
{
    return;
}


<MudList T="Orbit" Dense="true">
    @foreach (var orbit in Value.GetOrbits())
    {
        <MudListItem T="Orbit">
            <a href="@NavigationManager.GetUriWithQueryParameter("s", orbit.DisplayValue)">@orbit.DisplayValue</a>
        </MudListItem>
    }
</MudList>

@code
{
    [Parameter] public Siteswap? Value { get; set; }
}
