@page "/SiteswapDetails"
@using System.Collections.Immutable
@using Siteswaps.Generator.Generator

@foreach (var siteswap in Siteswaps)
{
    <div >
        <div style=@Offset(siteswap.Juggler)> @siteswap.DisplayName</div>
        @for (var i = 0; i < siteswap.Values.Length; i++)
        {
            <div style="display: inline-block; margin: 1rem;">
                @siteswap.Values[i].Transform()
                @if (siteswap.GetThrowType(i).Juggler != 0)
                {
                    @if (siteswap.GetThrowType(i).Hand != CurrentHand(i))
                    {
                        <sub >||</sub>
                    }
                    @if (siteswap.GetThrowType(i).Hand == CurrentHand(i))
                    {
                        <sub>x</sub>
                    }
                }
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public ImmutableList<LocalSiteswap> Siteswaps { get; set; } = Siteswap.CreateFromCorrect(7, 5, 6).GetLocalSiteswaps(2).ToImmutableList();

    private string Offset(int i)
    {
        return $"display: inline-block; margin-right: {i}rem;";
    }

    private Hand CurrentHand(int i)
    {
        return i % 2 == 0 ? Hand.Right : Hand.Left;
    }

}
