@page "/SiteswapState"
@using Siteswap.Details
@using Siteswap.Details.StateDiagram


<h3>State</h3>
<SiteswapInput @bind-Siteswap="Siteswap"/>

<ul>
    @if (States is not null)
    {
        @foreach (var state in States.Graph.Nodes)
        {
            <li style="display: flex">
                <div style="padding: 4px">
                    @foreach (var siteswap in States.SiteswapInState[state])
                    {
                        <div>Siteswap: @siteswap.ToString()</div>
                    }
                </div>
                <div style="padding: 4px">
                    State: @state.StateRepresentation()
                </div>
            </li>
        }
    }
</ul>

@code {

    private Siteswap? Siteswap { get; set; }

    private StateGraph? States
    {
        get
        {
            if (Siteswap is null) return null;
            var stateGraph = StateGraphFromSiteswapGenerator.CalculateGraph(Siteswap.Items.EnumerateValues(1).ToArray());
            return stateGraph;
        }
    }

}