@page "/RangeInput2"
<div class="col">
    <div class="row">
        <div class="col-6 p-0">
            <MudNumericField T="int" Step="1" Min="1" Max="30" Value="@Min" ValueChanged="MinChangedInternal" HideSpinButtons="true" />
        </div>
        <div class="col-6 p-0">
            <MudNumericField T="int" Step="1" Min="1" Max="30" Value="@Max" ValueChanged="MaxChangedInternal" HideSpinButtons="true" />
        </div>
    </div>
</div>

@code {

    [Parameter] public int Min { get; set; } = 6;
    
    [Parameter]
    public EventCallback<int> MinChanged { get; set; }

    [Parameter] public int Max { get; set; } = 6;
    
    [Parameter]
    public EventCallback<int> MaxChanged { get; set; }

    private void MinChangedInternal(int value)
    {
        if (value>Max)
        {
            return;
        }

        if (value == Min)
        {
            return;
        }
        
        Min = value;
        MinChanged.InvokeAsync(Min);
        InvokeAsync(StateHasChanged);
    }

    private void MaxChangedInternal(int value)
    {
        if (value<Min)
        {
            return;
        }
        
        if (value == Max)
        {
            return;
        }
        
        Max = value;
        MaxChanged.InvokeAsync(Max);
        InvokeAsync(StateHasChanged);
    }

}
