@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<SiteswapGeneratorState> State

<button class="btn btn-primary" id="generate" type="submit" @onclick="_ => Dispatcher.Dispatch(new GenerateSiteswapsAction(Value, new CancellationTokenSource()))">Generate</button>

@code
{
    private GeneratorState Value => State.Value.State;
}
