<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" id="generate" type="submit" disabled="@Disabled" @onclick="OnClick">Generate</button>
    </div>
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public bool Disabled { get; set; }
    
    
    [Parameter]
    [EditorRequired]
    public EventCallback OnClick { get; set; }
}
