<div>
    <h3 class="mt-3">
        Siteswaps
    </h3>

    <div class="row">

        @foreach (var data in Siteswaps)
        {
            <SiteswapCard Siteswap="@data" NumberOfJugglers="NumberOfJugglers"></SiteswapCard>
        }

    </div>
</div>

@code {

    [Parameter]
    public IReadOnlyCollection<Siteswap> Siteswaps { get; set; } = new List<Siteswap>();

    [Parameter]
    public int NumberOfJugglers { get; set; } = 2;
}
