@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="content px-4">
            <div class="container-md align-content-center">
                @Body
            </div>
        </div>
    </div>
</div>