<div class="input-group flex-nowrap">
    <span class="input-group-text" style="width: 100px">@Label</span>
    <input type="number" class="form-control" style="width: 75px; " min="0" value="@Value" @oninput="@(x => OnInput.InvokeAsync(x))"/>
</div>

@code
{
    [Parameter]
    public int? Value { get; set; }
    
    [Parameter]
    public EventCallback<ChangeEventArgs> OnInput { get; set; }

    [Parameter]
    public string Label { get; set; } = "";
}
