@using Siteswaps.Generator.Api
<div >
    <h3 class="mt-3">
        Siteswaps
        <small class="text-muted">(@Siteswaps.Count)</small>
    </h3>

    @foreach (var siteswaps in Siteswaps.Batch(4))
    {
        <div class="row">
            @foreach (var siteswap in siteswaps)
            {
                <div class="col-md-3">
                    <p>
                        <a href="@GenerateUrl(siteswap)" target="_blank" rel="noopener noreferrer">@siteswap.ToString()</a> 
                    </p>
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public IReadOnlyCollection<ISiteswap> Siteswaps { get; set; } = new List<ISiteswap>();

    [Parameter]
    public int? NumberOfJugglers { get; set; } = 2;

    private string GenerateUrl(ISiteswap siteswap)
    {
        return $"https://passist.org/siteswap/{string.Concat(siteswap.Items.Select(x => x.ToString()))}?jugglers={NumberOfJugglers.GetValueOrDefault(2)}";
    }
}