<h1 class="mb-5">Siteswap Generator</h1>

<div class="m-5">
    <BaseInputs/>
</div>
<div class="row">
    <div class="col m-5">
        <FilterSelection/>
    </div>
    <div class="col m-5 w">
        <SelectedFilters/>
    </div>
</div>
<div class="m-5">
    <GenerateButton/>
</div>
<div class="m-5">
    <GenerationResults/>
</div>
