<div>
    @foreach (var row in KeyRows)
    {
        <div class="d-flex align-items-center justify-content-center">
            @foreach (var key in row)
            {
                <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="() => OnKeyPress(key)" Disabled="@(EnabledKeys.Contains(key) is false)" Style="width: 80px;margin-top: 0.5rem;" data-testid="@($"add-throw-{key}")">@key</MudButton>
            }
        </div>
    }
    <div class="d-flex align-items-center justify-content-center">
        <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick=@(() => OnKeyPress("ArrowLeft")) Style="width: 80px;margin-top: 0.5rem;">
            <i class="bi bi-arrow-left"></i>
        </MudButton>
        <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick=@(() => OnKeyPress("ArrowRight")) Style="width: 80px;margin-top: 0.5rem;">
            <i class="bi bi-arrow-right"></i>
        </MudButton>
        <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick=@(() => OnKeyPress("Backspace")) Style="width: 80px;margin-top: 0.5rem;">
            <i class="bi bi-backspace"></i>
        </MudButton>
    </div>
</div>

@code {
    [Parameter] public List<string> Keys { get; set; } = [];
    [Parameter] public List<string> EnabledKeys { get; set; } = [];

    [Parameter] public EventCallback<string> KeyPressed { get; set; }

    private List<List<string>> KeyRows { get; set; } = [];

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Keys == null || !Keys.Any())
        {
            KeyRows.Clear();
            return;
        }

        var numberOfRows = 3;
        KeyRows = Keys
            .Select((key, index) => new {key, index})
            .GroupBy(x => x.index / numberOfRows)
            .Select(g => g.Select(x => x.key).ToList())
            .ToList();
    }

    private async Task OnKeyPress(string key)
    {
        await KeyPressed.InvokeAsync(key);
    }

}
