@page "/Settings"
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

<h3>Settings</h3>

<EditForm Model="Value" OnValidSubmit="SaveSettings">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <MudText Style="margin-right: 10px; display: inline;">Use Throw Names</MudText>
        <MudCheckBox T="bool" @bind-Value="Value.ShowThrowNames" />
    </div>

    <div>
        <MudText Style="display: block; margin-bottom: 5px;">Max Height</MudText>
        <MudNumericField T="int" @bind-Value="Value.MaxHeight" Min="1" Max="50" Style="width: 100%;" HideSpinButtons="true" />
    </div>

    <button type="submit" class="btn btn-primary float-end mt-2">Save Settings</button>
</EditForm>

@code {
    private SettingsDto Value { get; set; } = new SettingsDto();

    protected override async Task OnInitializedAsync()
    {
        var settings = await LocalStorage.GetItemAsync<SettingsDto>("settings");
        if (settings != null)
        {
            Value = settings;
        }
    }

    private async Task SaveSettings()
    {
        await LocalStorage.SetItemAsync("settings", Value);
        Console.WriteLine("Settings saved successfully.");
    }

    public record SettingsDto
    {
        public bool ShowThrowNames { get; set; } = true;
        public int MaxHeight { get; set; } = 13;
    }
}
