@using Fluxor
@using Siteswaps.Generator.Components.State
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher _dispatcher
@inject IState<SiteswapGeneratorState> _state
<div class="container">
    <div class="row">
        <div class="col-sm">
            <label for="filterSelect">Select Filter</label>
            <select id="filterSelect" class="custom-select" value="@Value?.FilterType" @onchange="SelectionChanged">
                <option disabled selected value> -- select an option -- </option>
                @foreach (var filter in KnownFilters.AvailableSelection())
                {
                    <option value="@filter">@filter</option>
                }
            </select>
        </div>
    </div>

    @if (Value is not null)
    {
        <div class="row">

            <DynamicComponent Type="@KnownFilters.MapFilterInformationToRenderType(Value)"></DynamicComponent>
            <div class="col-md-3">
                <button type="button" class="btn-primary " @onclick="OnClick">Add</button>
            </div>
        </div>
    }
</div>


@code {

    public IFilterInformation? Value => _state.Value.NewFilter;

    private void SelectionChanged(ChangeEventArgs eventArgs)
    {
        if (Enum.TryParse(eventArgs.Value?.ToString(), out FilterType filterType))
        {
           _dispatcher.Dispatch(new FilterTypeSelectionChangedAction(filterType));
        }
    }

    private void OnClick()
    {
        if (Value is not null)
        {
            _dispatcher.Dispatch(new NewFilterCreatedAction(Value));
        }
    }

    private KnownFilterTypes KnownFilters => _state.Value.KnownFilters;

}