@page "/test"
@using Fluxor
@using Siteswaps.Generator.Components.State
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<SiteswapGeneratorState> _state
@if (Value is null)
{
    return;
}
<div class="row">

    @foreach (var i in Value.Pattern)
    {
        <div class="col">
            <select id="@("patternFilterNumber" + i)" class="custom-select" value="@i">
                <option value="-1">_</option>
                <option value="-2">p</option>
                <option value="-3">s</option>
                @for (var j = MinValue; j <= MaxValue; j++)
                {
                    <option value="@j">@j</option>
                }
            </select>
        </div>
    }
</div>

@code {

    private int MaxValue => _state.Value.State.MaxThrow;

    private int MinValue => _state.Value.State.MinThrow;

    private PatternFilterInformation? Value => _state.Value.NewFilter as PatternFilterInformation;

}